* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content {
  height: 100vh;
}
.navbar {
  background-color: rgba(39, 68, 58, 0.767) !important;
}
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/*transaction page*/
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
/*antd icons*/
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}
.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}
.switch-icon {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}
